<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./stylesheet.css">
  <title>Confirmação de Compra</title>
</head>
<body>
  <main>
    <section class="introducao">
    <h1><span>Olá,</span> {{clienteNome}}!</h1>
    <p>Este email é para confirmação do seu pedido feito na nossa Loja</p>
    <h3>The Ximbinhas agradece pela preferência.</h3>
    </section>
  </main>
</body>
</html>