.introducao{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.introducao span{
  color: cadetblue;
}

.introducao h1{
  font-size: 2.5rem;
  line-height: 2rem;
  padding: 1rem;
}

.introducao p{
  font-size: 1.2rem;
  padding: 1rem;
}

.introducao h3{
  font-size: 1.4rem;
  
}